<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Sorte</th>
                    <th>Bestand</th>
                    <th>Tage</th>
                    <th>Reicht bis</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-class="{warning: (medic.remainingDays <= 14) && (medic.remainingDays > 0),danger: medic.remainingDays <= 0}" ng-repeat="medic in medics.stocks | filter:query | orderBy:orderProp" ng-click="go('/detail/' + medic.id)">
                    <td>{{medic.name}}</td>
                    <td>{{medic.stock }}</td>
                    <td>{{medic.remainingDays }}</td>
                    <td>{{medic.depleted | date:'dd.MM.yyyy'}}</td>
                </tr>
                </tbody>
            </table>
            <a href="#/edit/new" class="btn btn-default" role="button">Neue Sorte</a>
        </div>
    </div>
</div>
