<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="app-icon app-icon-medixx pull-left mr-20"></div>
            <div class="">
                <strong>Medixx</strong><br/>
                <span>Version:</span>&nbsp;<span>{{version}}</span> <br>
                <span>Build:</span>&nbsp;<span>{{build | date:'dd.MM.yyyy HH:mm:ss'}}</span><br>
                <small>Copyright &copy; {{build | date:'yyyy' }} André Schäfer</small>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-12">
            <h3>Lokale Daten zurücksetzen</h3>

            <p>Die Applikation speichert Daten zum offline Zugriff lokal, hier können diese gelöscht werden.</p>
            <button type="button" class="btn btn-default" ng-click="resetLocal()">Lokale Daten löschen</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Alles zurücksetzen</h3>

            <p>Die Applikation speichert Daten zentral in Google Drive. Diese Daten können hier zurückgesetzt
                werden.</p>

            <p>Sowohl die lokalen Daten, wie auch die Daten in Google Drive werden zurückgesetzt.</p>
            <button type="button" class="btn btn-default" ng-click="reset()">All Daten löschen</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Applikation neu laden</h3>

            <p>Zur Verbesserung der Offline-Fähigkeit der App wird diese in einem Cache gehalten. Hier kann ein Update
                explizit ausgelöst werden.</p>

            <button type="button" class="btn btn-default" ng-click="cacheReload()">App neu laden</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>Logout</h3>

            <p>Explizit lokal und bei Google ausloggen, um den Account zu wechseln.</p>

            <button type="button" class="btn btn-default" ng-click="logout()">Logout</button>
        </div>
    </div>
</div>
