<div class="container-fluid">
	<div class="row">
		<ol class="col-xs-12">
			<h1>Nutzungsbedingungen https://medixx.aschaefer.ch</h1>
			<h2>§ 1 Geltungsbereich</h2>
			<ol>
				<li>Die nachfolgenden Bedingungen gelten für die Nutzung von Medixx. Für
					die Nutzung von Medixx ist wichtig, dass Sie als Nutzer/Nutzerin die nachfolgenden Regeln bzw. Bedingungen akzeptieren. Die
					Registrierung und Benutzung unserer App ist kostenlos.
				</li>
				<li>Mit der Verwendung der App sind Sie mit den Nutzungsbedingungen einverstanden. Durch Ihr Einverständnis
					garantieren Sie uns, dass Sie keine Beiträge erstellen werden, die gegen die Nutzungsbedingung verstoßen.
				</li>
				<li>Durch das Benutzen von unserer App kommt kein Vertrag zwischen den Nutzern/Nutzerinnen und uns zustande.</li>
			</ol>
			<h2>§ 2 Übertragung von Nutzungsrechten</h2>
			<p>Sie, als App-Nutzer/App-Nutzerin haben die alleinige Verantwortung des Urheberrechts i.S.d. Urhebergesetzes bei
				Erstellung und Pflege von Daten.
			<h2>§ 3 Haftungsbeschränkung</h2>
			<ol>
				<li>Wir übernimmen keinerlei Gewähr für die über die App erstelleten und verwalteten Daten und die daraus resultierenden Inhalte,
					insbesondere nicht für deren Richtigkeit, Vollständigkeit und Aktualität. Wir sind auch nicht verpflichtet, permanent die
					übermittelten und gespeicherten Beiträge der Nutzer/Nutzerinnen zu überwachen oder nach den Umständen zu erforschen,
					ob sie auf einen rechtswidrigen Inhalt hinweisen. Wir haften grundsätzlich nur im Falle einer vorsätzlichen oder grob fahrlässigen
					Pflichtverletzung.
				</li>
				<li>Bei Werbeschaltungen übernimmen wir keine Haftung für den Inhalt und die Richtigkeit. Für den Inhalt der
					Werbeanzeigen ist der jeweilige Autor einzig und allein verantwortlich; gleiches gilt für den Inhalt der beworbenen Webseite.
					Bei Darstellung der Werbeanzeige auf unserer Webseite , sind wir nicht gleichzeitig mit dem rechtswidrigen Inhalt
					einverstanden. Daher liegt die Haftung ausschließlich bei dem Werbekunden.
				</li>
				<li>Es ist wird nicht für einen ständigen unterbrechungsfreien Abruf der Webseite garantiert. Einer Haftung
					diesbezüglich wird hiermit ausdrücklich widersprochen. Auch bei großer Sorgfalt können Ausfallzeiten leider nicht
					ausgeschlossen werden.
				</li>
			</ol>
			<h2>§ 4 Urheberrecht</h2>
			<p>Sämtliche Texte, Bilder und andere auf unserer Webseite veröffentlichten Informationen und Daten unterliegen - sofern nicht anders
				gekennzeichnet - dem Copyright unserer Seite. Jede Form von Wiedergabe und/oder Modifikation darf nur mit der schriftlichen
				Genehmigung durch uns erfolgen. Andersfalls behalten wir uns das Recht vor gerichtlich gegen diese Rechtsverletzung vorzugehen.
				Alle Kosten, die durch eine Rechtsverletzung seitens eines Benutzers verursacht werden, werden diesem in Rechnung gestellt.</p>
			<h2>§ 5 Änderungsvorbehalt</h2>
			<p>Wir haben jederzeit das Recht die Nutzungsbedingungen zu ändern. Die Änderung wird dann per in angemessener Form veröffentlicht.</p>
			<h2>§ 6 Salvatorische Klausel</h2>
			<p>Diese Nutzungsbedingung ist als Teil unserer Webseite zu betrachten, von dem aus auf diese Seite verwiesen wird. Sind einzelne
				Formulierungen dieser Nutzungsbedingung nicht mehr ganz oder nicht mehr vollständig konform mit der geltenden Rechtslage, so ist
				davon auszugehen, dass die übrigen Regelungen der Nutzungsbedingungen bestehen bleiben.</p>
	</div>
</div>
</div>
