<div class="medic-images">
    <img ng-src="{{img}}"
         class="medic"
         ng-repeat="img in medic.images"
         ng-class="{active: mainImageUrl==img}">
</div>

<h1>{{medic.name}}</h1>

<p>{{medic.description}}</p>

<ul class="medic-thumbs">
    <li ng-repeat="img in medic.images">
        <img ng-src="{{img}}" ng-click="setImage(img)">
    </li>
</ul>

<ul class="specs">
    <li>
        <span>Availability and Networks</span>
        <dl>
            <dt>Availability</dt>
            <dd ng-repeat="availability in medic.availability">{{availability}}</dd>
        </dl>
    </li>
    <li>
        <span>Battery</span>
        <dl>
            <dt>Type</dt>
            <dd>{{medic.battery.type}}</dd>
            <dt>Talk Time</dt>
            <dd>{{medic.battery.talkTime}}</dd>
            <dt>Standby time (max)</dt>
            <dd>{{medic.battery.standbyTime}}</dd>
        </dl>
    </li>
    <li>
        <span>Storage and Memory</span>
        <dl>
            <dt>RAM</dt>
            <dd>{{medic.storage.ram}}</dd>
            <dt>Internal Storage</dt>
            <dd>{{medic.storage.flash}}</dd>
        </dl>
    </li>
    <li>
        <span>Connectivity</span>
        <dl>
            <dt>Network Support</dt>
            <dd>{{medic.connectivity.cell}}</dd>
            <dt>WiFi</dt>
            <dd>{{medic.connectivity.wifi}}</dd>
            <dt>Bluetooth</dt>
            <dd>{{medic.connectivity.bluetooth}}</dd>
            <dt>Infrared</dt>
            <dd>{{medic.connectivity.infrared | checkmark}}</dd>
            <dt>GPS</dt>
            <dd>{{medic.connectivity.gps | checkmark}}</dd>
        </dl>
    </li>
    <li>
        <span>Android</span>
        <dl>
            <dt>OS Version</dt>
            <dd>{{medic.android.os}}</dd>
            <dt>UI</dt>
            <dd>{{medic.android.ui}}</dd>
        </dl>
    </li>
    <li>
        <span>Size and Weight</span>
        <dl>
            <dt>Dimensions</dt>
            <dd ng-repeat="dim in medic.sizeAndWeight.dimensions">{{dim}}</dd>
            <dt>Weight</dt>
            <dd>{{medic.sizeAndWeight.weight}}</dd>
        </dl>
    </li>
    <li>
        <span>Display</span>
        <dl>
            <dt>Screen size</dt>
            <dd>{{medic.display.screenSize}}</dd>
            <dt>Screen resolution</dt>
            <dd>{{medic.display.screenResolution}}</dd>
            <dt>Touch screen</dt>
            <dd>{{medic.display.touchScreen | checkmark}}</dd>
        </dl>
    </li>
    <li>
        <span>Hardware</span>
        <dl>
            <dt>CPU</dt>
            <dd>{{medic.hardware.cpu}}</dd>
            <dt>USB</dt>
            <dd>{{medic.hardware.usb}}</dd>
            <dt>Audio / headmedic jack</dt>
            <dd>{{medic.hardware.audioJack}}</dd>
            <dt>FM Radio</dt>
            <dd>{{medic.hardware.fmRadio | checkmark}}</dd>
            <dt>Accelerometer</dt>
            <dd>{{medic.hardware.accelerometer | checkmark}}</dd>
        </dl>
    </li>
    <li>
        <span>Camera</span>
        <dl>
            <dt>Primary</dt>
            <dd>{{medic.camera.primary}}</dd>
            <dt>Features</dt>
            <dd>{{medic.camera.features.join(', ')}}</dd>
        </dl>
    </li>
    <li>
        <span>Additional Features</span>
        <dd>{{medic.additionalFeatures}}</dd>
    </li>
</ul>
