* app css stylesheet */

body {
    margin-top: 70px;
}

.navbar-collapse.collapse {
    display: block !important;
}

.navbar-nav {
    float: left;
    margin: 0;
}
.navbar-nav > li {
    float: left;
}
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px ;
}

.navbar-nav > li, .navbar-nav {
    float: left ;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar-right {
    float: right !important;
}

@media (max-width: 480px) {
    .desk-only {
        display: none;
    }

    .nav-icon {
        font-size: 30px;
        vertical-align: middle;
        line-height: inherit;
    }
}
