<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<h1>Datenschutzerklärung</h1>
			<h3>1. Erhebung, Verarbeitung und Nutzung personenbezogener Daten</h3>
			<p>Bei einem Besuch dieser Website erheben wir keine personenbezogenen Daten von Ihnen. Personenbezogene Daten werden nur erhoben, wenn
				Sie uns diese selbst über unser Kontaktformular mitteilen. Diese Daten werden ausschliesslich zur Beantwortung Ihres Anliegens genutzt
				und danach wieder gelöscht.</p>
			<h3>2. Verwendung von eigenen Cookies</h3>
			<p>Beim Aufruf bestimmter Seiten wird ein so genanntes «Session-Cookie» gesetzt. Hierbei handelt es sich um eine kleine Textdatei, die
				nach Ende der Browser-Sitzung automatisch wieder von Ihrem Computer gelöscht wird. Diese Datei dient ausschliesslich dazu, bestimmte
				Applikationen nutzen zu können. Sie können bei den meisten Webbrowsern die Einstellungen so ändern, dass Ihr Browser neue Cookies
				nicht akzeptiert oder Sie können erhaltenen Cookies löschen lassen. Wie dies konkret für Ihren Browser funktioniert, kann in der Regel
				über dessen Hilfe-Funktion in Erfahrung gebracht werden.</p>
			<h3>3. Server-Log-Dateien</h3>
			<p>Wie bei jeder Verbindung mit einem Webserver protokolliert und speichert der Server unseres Webhosting-Anbieters bestimmte
				technische Daten. Zu diesen Daten gehören die IP-Adresse und das Betriebssystem Ihres Geräts, die Daten, die Zugriffszeit, die Art des
				Browsers sowie die Browser-Anfrage inklusive der Herkunft der Anfrage (Referrer). Dies ist aus technischen Gründen erforderlich, um
				Ihnen unsere Website zur Verfügung zu stellen. Der Webhosting-Anbieter schützt diese Daten mit technischen und organisatorischen
				Massnahmen vor unerlaubten Zugriffen und gibt sie nicht an Dritte weiter. Soweit wir dabei personenbezogene Daten verarbeiten, tun wir
				dies aufgrund unseres Interesses, Ihnen die bestmögliche Nutzererfahrung zu bieten und die Sicherheit und Stabilität unserer Systeme
				zu gewährleisten.</p>
			<h3>4. Ihre Rechte</h3>
			<p>Ihnen stehen grundsätzlich die Rechte auf Auskunft, Berichtigung, Löschung, Einschränkung, Datenübertragbarkeit, Widerruf und
				Widerspruch zu. Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstösst oder Ihre
				datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich bei der Aufsichtsbehörde beschweren.</p>
			<p>Sie erreichen uns unter folgenden Kontaktdaten:</p>
			<p>André Schäfer, info@aschaefer.ch</p>
		</div>
	</div>
</div>
