body {
    margin-top: 70px;
}

.navbar-collapse.collapse {
    display: block !important;
}

.navbar-nav {
    float: left;
    margin: 0;
}

.navbar-nav > li {
    float: left;
}

.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-nav > li, .navbar-nav {
    float: left;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar-right {
    float: right !important;
}

@media (max-width: 480px) {
    .desk-only {
        display: none;
    }

    .nav-icon {
        font-size: 30px;
        vertical-align: middle;
        line-height: inherit;
    }
}

.option {
    color: lightgray !important;
}

.option:hover {
    color: dimgrey !important;
}

a {
    cursor: pointer;
}

.text-small {
    font-size: small;
}

.app-icon {
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
    display: block;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;

}

.app-icon-medixx {
    background-image: url('../icon/touch-icon-180x180.png');
}

.mr-20 {
  margin-right: 20px;
}
