<nav class="navbar navbar-default navbar-fixed-top navbar-inverse hidden-print">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li ng-class="{active: !activeRoute('/settings') && !activeRoute('/history')}">
                <a href="#/list" title="Bestand">
                    <span class="nav-icon flaticon-drugs5"></span>
                    <span class="desk-only">&nbsp;Bestand</span>
                </a>
            </li>
            <li ng-class="{active: activeRoute('/settings')}">
                <a href="#/settings" title="Einstellungen">
                    <span class="nav-icon glyphicon glyphicon-cog"></span>
                    <span class="desk-only">&nbsp;Einstellungen</span>
                </a>
            </li>
            <li ng-class="{active: activeRoute('/history')}">
                <a href="#/history" title="Lokale Historie">
                    <span class="nav-icon glyphicon glyphicon-time"></span>
                    <span class="desk-only">&nbsp;Historie</span>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li title="Downloading" ng-show="status('download')">
                <a ng-click="reload()">
                    <span class="nav-icon glyphicon glyphicon-cloud-download"></span>
                    <span class="desk-only">&nbsp;downloading</span>
                </a>
            </li>
            <li title="Uploading" ng-show="status('upload')">
                <a ng-click="reload()">
                    <span class="nav-icon glyphicon glyphicon-cloud-upload"></span>
                    <span class="desk-only">&nbsp;uploading</span>
                </a>
            </li>
            <li title="Problem" ng-show="status('online')">
                <a ng-click="reload()">
                    <span class="nav-icon glyphicon glyphicon-remove"></span>
                    <span class="desk-only">&nbsp;Fehler</span>
                </a>
            </li>
            <li title="Synchron" ng-show="status('sync')">
                <a ng-click="reload()">
                    <span class="nav-icon glyphicon glyphicon-ok"></span>
                    <span class="desk-only">&nbsp;synchron</span>
                </a>
            </li>
            <li title="Offline" ng-show="status('offline')">
                <a ng-click="reload()">
                    <span class="nav-icon glyphicon glyphicon-off"></span>
                    <span class="desk-only">&nbsp;offline</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
