<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h3>Lokale Daten zurücksetzen</h3>

            <p>Die Applikation speichert Daten zum offline Zugriff lokal, hier können diese gelöscht werden.</p>
            <button type="button" class="btn btn-default" ng-click="resetLocal()">Lokale Daten löschen</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Google Drive Daten zurücksetzen</h3>

            <p>Die Applikation speichert Daten zentral in Google Drive. Diese Daten können hier zurückgesetzt
                werden.</p>
            <button type="button" class="btn btn-default" ng-click="resetRemote()">Google Drive Daten löschen</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Alles zurücksetzen</h3>

            <p>Sowohl die lokalen Daten, wie auch die Daten in Google Drive werden zurückgesetzt.</p>
            <button type="button" class="btn btn-default" ng-click="reset()">All Daten löschen</button>
        </div>
    </div>
</div>
